# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
# importing the required libabries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver 
from selenium.webdriver.common.by import By
import time

In [3]:
d=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32.exe')
d.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
d.maximize_window()

In [20]:
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]
na=d.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[1]')
for i in na:
    nam=i.text

In [21]:
nam

'1. "Baby Shark Dance"[4] Pinkfong Baby Shark - Kids\' Songs & Stories 12.00 June 17, 2016 [A]'

# 2. Scrape the details team Indiaâ€™s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)

B) Series
C) Place
D) Date
E) Time

In [52]:
# importing the required libabries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver 
from selenium.webdriver.common.by import By
import time

In [53]:
d=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32.exe')
d.get('https://www.bcci.tv/.')
d.maximize_window()

In [54]:
internatl=d.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
internatl.click()

In [55]:
match_title=[]
series=[]
place=[]
date=[]
time=[]
titl=d.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in titl:
    ti=i.text
    match_title.append(ti)
dat=d.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for l in dat:
    da=l.text
    date.append(da)
tie=d.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]') 
for w in tie:
    tim=w.text
    time.append(tim)
pl=d.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]') 
for g in pl:
    pla=g.text.split('-')[1]
    place.append(pla)
seri=d.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]') 
for b in seri:
    serie=b.text.split('-')[0]
    series.append(serie)

In [56]:
df=pd.DataFrame({'Match Title':match_title,'Series':series,'Place':place,'Date':date,'Time':time})
df

,Match Title,Series,Place,Date,Time
0,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,4th T20I,"Steyn City School Ground, Pretoria",2 JAN 2023,5:15 PM IST
1,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,1st T20I,"Wankhede Stadium, Mumbai",3 JAN 2023,7:00 PM IST
2,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,5th T20I,"Steyn City School Ground, Pretoria",4 JAN 2023,1:30 PM IST
3,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,2nd T20I,"Maharashtra Cricket Association Stadium, Pune",5 JAN 2023,7:00 PM IST
4,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,3rd T20I,"Saurashtra Cricket Association Stadium, Rajkot",7 JAN 2023,7:00 PM IST
5,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,1st ODI,"Barsapara Cricket Stadium, Guwahati",10 JAN 2023,1:30 PM IST
6,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI,"Eden Gardens, Kolkata",12 JAN 2023,1:30 PM IST
7,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI,"Greenfield International Stadium, Thiruvanant...",15 JAN 2023,1:30 PM IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [274]:
# importing the required libabries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver 
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import ElementNotInteractableException

In [275]:
d=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32.exe')
d.get('https://www.guru99.com/')
d.maximize_window()

In [277]:
search_bar=d.find_element(By.XPATH,'//input[@class="gsc-input"]')
search_bar.send_keys('selenium exception handling ')

In [278]:
search_button=d.find_element(By.XPATH,'//button[@class="gsc-search-button gsc-search-button-v2"]')
search_button.click()

In [280]:
path=d.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a')
path.click()

In [283]:
Name=[]

    

for i in d.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p/strong')[0:41]:

    Name.append(i.text.strip(" "))

print(Name)

[]

In [284]:
name

[]

In [101]:
na

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [259]:
# importing the required libabries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver 
from selenium.webdriver.common.by import By
import time

In [260]:
d=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32.exe')
d.get('http://statisticstimes.com')
d.maximize_window()

In [261]:
economy=d.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [268]:
india=d.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
india.get_attribute('href')
india.click()

In [272]:
rank=[]
state=[]
gsdp18_19=[]
gsdp19_20=[]
share=[]
gdp_billion=[]

rw=d.find_elements(By.XPATH,'//tr[@role="row"]')
for i in rw[2:33]:
    ro=i.text.split(' ')[1]
    state.append(ro)
for i in rw[2:33]:
    ro=i.text.split(' ')[0]
    rank.append(ro)

for i in rw[2:33]:
    ro=i.text.split(' ')[2]
    gsdp19_20.append(ro)

for i in rw[2:33]:
    ro=i.text.split(' ')[3]
    gsdp18_19.append(ro)
for i in rw[2:33]:
    ro=i.text.split(' ')[4]
    share.append(ro) 
for i in rw[2:33]:
    ro=i.text.split(' ')[5]
    gdp_billion.append(ro)

In [273]:
df=pd.DataFrame({'Rank':rank,'State':state,'GSDP(18-19)':gsdp18_19,'GSDP19_220':gsdp19_20,'Share':share,'GDP($ BILLION)':gdp_billion})
df

   Rank         State GSDP(18-19) GSDP19_220      Share GDP($ BILLION)
0     1   Maharashtra   2,632,792          -     13.94%        399.921
1     2         Tamil   1,845,853       Nadu  1,630,208          8.63%
2     3         Uttar   1,687,818    Pradesh  1,584,764          8.39%
3     4       Gujarat   1,502,899          -      7.96%        228.290
4     5     Karnataka   1,493,127  1,631,977      7.91%        226.806
5     6          West   1,253,832     Bengal  1,089,898          5.77%
6     7     Rajasthan     942,586  1,020,989      4.99%        143.179
7     8        Andhra     972,782    Pradesh    862,957          4.57%
8     9     Telangana     861,031    969,604      4.56%        130.791
9    10        Madhya     906,672    Pradesh    809,592          4.29%
10   11        Kerala     781,653          -      4.14%        118.733
11   12         Delhi     774,870    856,112      4.10%        117.703
12   13       Haryana     734,163    831,610      3.89%        111.519
13   14         Bihar     530,363    611,804      2.81%         80.562
14   15        Punjab     526,376    574,760      2.79%         79.957
15   16        Odisha     487,805    521,275      2.58%         74.098
16   17         Assam     315,881          -      1.67%         47.982
17   18  Chhattisgarh     304,063    329,180      1.61%         46.187
18   19     Jharkhand     297,204    328,598      1.57%         45.145
19   20   Uttarakhand     245,895          -      1.30%         37.351
20   21         Jammu     Kashmir          &          -        155,956
21   22      Himachal     165,472    Pradesh    153,845          0.81%
22   23           Goa      73,170     80,449      0.39%         11.115
23   24       Tripura      49,845     55,984      0.26%          7.571
24   25    Chandigarh      42,114          -      0.22%          6.397
25   26    Puducherry      34,433     38,253      0.18%          5.230
26   27     Meghalaya      33,481     36,572      0.18%          5.086
27   28        Sikkim      28,723     32,496      0.15%          4.363
28   29       Manipur      27,870     31,790      0.15%          4.233
29   30      Nagaland      27,283          -      0.14%          4.144
30   31     Arunachal           -    Pradesh     24,603          0.13%